#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.show.title', type.modelName) /}

<div id="crudShow" class="${type.name}">
	<div class="col-xs-12 col-md-9">
	    <h2 id="crudShowTitle">&{'crud.show.title', type.modelName}</h2>
	
	    #{form action:@save(object._key()), enctype:'multipart/form-data', role:'form', class:'form-horizontal'}
	        #{crud.form fields:connected.isAdmin() ? ['firstName', 'lastName', 'pseaudo', 'email', 'profile', 'password', 'active'] : ['firstName', 'lastName', 'pseaudo', 'email', 'password', 'active']}
	        
	        #{crud.custom 'firstName'}
	        <div class="form-group">
				#{field 'object.firstName'}
				<label for="${field.id}">&{'user.firstName'}</label>
				<input type="text" class="form-control ${field.errorClass}" name="${field.name}" id="${field.id}" value="${object?.firstName}" 
					placeholder="&{'user.firstName'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			#{/crud.custom}
			
			#{crud.custom 'lastName'}
			<div class="form-group">
				#{field 'object.lastName'}
				<label for="${field.id}">&{'user.lastName'}</label>
				<input type="text" class="form-control ${field.errorClass}" 
					name="${field.name}" id="${field.id}" value="${field.value}" 
					placeholder="&{'user.lastName'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			#{/crud.custom}
			
			#{crud.custom 'pseaudo'}
			<div class="form-group">
				#{field 'object.pseaudo'}
				<label for="${field.id}">&{'user.pseaudo'}</label>
				<input type="text" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}" value="${field.value}"
					placeholder="&{'user.pseaudo'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			#{/crud.custom}
			
			#{crud.custom 'email'}
			<div class="form-group">
				#{field 'object.email'}
				<label for="${field.id}">&{'user.email'}</label>
				<input type="text" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}" id="${field.id}" value="${field.value}" 
					placeholder="&{'user.email'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			#{/crud.custom}
			
			#{secure.check 'admin'}
			#{crud.custom 'profile'}
			<div class="form-group">
				#{field 'object.profile'}
				<label for="${field.id}">&{'user.profile'}</label>
				<input type="text" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}" id="${field.id}" value="${field.value}" 
					placeholder="&{'user.profile'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			#{/crud.custom}
			#{/secure.check}
	        #{crud.custom 'password'}
	        <div class="form-group">
				#{field 'object.password'}
				<label for="${field.id}">&{'user.password'}</label>
				<input type="password" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}" id="${field.id}" value="${field.value}" 
					placeholder="&{'user.password'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			<div class="form-group">
				#{field 'confirmPassword'}
			    <label for="${field.id}">
			        &{field.name}
			    </label>
			    <input type="password" id="${field.id}" class="form-control ${field.errorClass}"
					name="${field.name}"placeholder="&{field.name}" />
			    #{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
				#{/field}
			</div>
	        #{/crud.custom}
	        #{/crud.form}
	        <p>
	            <input class="btn btn-primary" type="submit" name="_save" value="&{'crud.save', type.modelName}" />
	            <input class="btn btn-primary" type="submit" name="_saveAndContinue" value="&{'crud.saveAndContinue', type.modelName}" />
	        </p>
	    #{/form}
	
	    #{form @delete(object._key())}
	    	*{'Voulez vous vraiment supprimer cet utilisateur ?'}*
	        <p class="crudDelete">
	            <input class="btn btn-danger" type="submit" onclick="return confirm('&{'confirm.delete'}')" value="&{'crud.delete', type.modelName}" />
	        </p>
	    #{/form}
	</div>
</div>