#{extends 'Secure/layout.html' /}

<div class="container login">
	<div class="col-xs-12 col-md-4 col-md-offset-4 col-xs-offset-0">
		<h1>&{'signup.message'}</h1>
			
		#{form @Users.create(), role:'form'}
			
			#{if flash.error}
				<p class="error">
					&{flash.error}
				</p>
			#{/if}
			#{if flash.success}
				<p class="success">
					&{flash.success}
				</p>
			#{/if}
			<input type="hidden" name="_method" value="_signup"/>
			<div class="form-group">
				#{field 'object.firstName'}
				<label for="${field.id}">&{'user.firstName'}</label>
				<input type="text" class="form-control ${field.errorClass}" 
					name="${field.name}" id="${field.id}" value="${object?.firstName}" 
					placeholder="&{'user.firstName'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			<div class="form-group">
				#{field 'object.lastName'}
				<label for="${field.id}">&{'user.lastName'}</label>
				<input type="text" class="form-control ${field.errorClass}" 
					name="${field.name}" id="${field.id}" value="${field.value}" 
					placeholder="&{'user.lastName'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			<div class="form-group">
				#{field 'object.pseaudo'}
				<label for="${field.id}">&{'user.pseaudo'}</label>
				<input type="text" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}" value="${field.value}"
					placeholder="&{'user.pseaudo'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			<div class="form-group">
				#{field 'object.email'}
				<label for="${field.id}">&{'user.email'}</label>
				<input type="text" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}" id="${field.id}" value="${field.value}" 
					placeholder="&{'user.email'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			<div class="form-group">
				#{field 'object.password'}
				<label for="${field.id}">&{'user.password'}</label>
				<input type="password" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}" id="${field.id}" value="" 
					placeholder="&{'user.password'}"/>
				#{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
			    #{/field}
			</div>
			<div class="form-group">
			#{field 'confirmPassword'}
			    <label for="${field.id}">
			        &{field.name}
			    </label>
			    <input type="password" id="${field.id}" class="form-control ${field.errorClass}" required
					name="${field.name}"placeholder="&{field.name}" />
			    #{ifError field.name}
			        <span class="error">${field.error.raw()}</span>
			    #{/ifError}
				#{/field}
			</div>
			<input type="submit" class="btn btn-primary" id="signin" value="&{'register'}" />
		#{/form}
	</div>
</div>