#{extends 'CRUD/layout.html' /} 
#{set title:messages.get('crud.blank.title', type.modelName) /}
#{set 'editorStyles'}
<link rel="stylesheet" type="text/css" href="@{'/public/ckeditor/skins/moono/editor.css'}">
#{/set}
#{set 'editorScripts'}
<script type="text/javascript" src="@{'/public/ckeditor/ckeditor.js'}"></script>
<script type="text/javascript" src="@{'/public/ckeditor/config.js'}"></script>
<script>
      // Replace the <textarea id="editor1"> with a CKEditor
      // instance, using default configuration.
      CKEDITOR.replace( 'edit' );
</script>
#{/set}
<div id="crudBlank" class="${type.name}">

	<h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

	<div class="objectForm">
		#{form action:@create(), enctype:'multipart/form-data', role:'form'} 
		#{crud.form fields:['title', 'author', 'content', 'active']} 
		#{crud.custom 'title'}
		<div class="form-group">
			#{field 'object.title'}
			<label for="${field.id}">&{'post.title'}</label>
			<input type="text" id="${field.id}" class="form-control ${field.errorClass}" required
				name="${field.name}" id="${field.id}" value="" 
				placeholder="&{'post.title'}"/>
			#{ifError field.name}
		        <span class="error">${field.error.raw()}</span>
		    #{/ifError}
		    #{/field}
		</div>
		#{/crud.custom}
		#{crud.custom 'content'}
		#{field 'object.content'}
		#{ifError field.name}
	        <span class="error">${field.error.raw()}</span>
	    #{/ifError}
		<textarea rows="10" cols="100" class="form-control #{errorClass '${field.name}'/}" id="edit"
			name="${field.name}" placeholder="&{'content'}" required>${object?.content}</textarea>
		#{error '${field.name}' /} 
		#{/field}
		#{/crud.custom}
		#{/crud.form}
		<p class="crudButtons">
			<input class="btn btn-primary" type="submit" name="_save"
				value="&{'crud.save', type.modelName}" /> 
			<input class="btn btn-primary" type="submit"
				name="_saveAndContinue"
				value="&{'crud.saveAndContinue', type.modelName}" />
			<input class="btn btn-primary" type="submit" 
				name="_saveAndAddAnother"
				value="&{'crud.saveAndAddAnother', type.modelName}" />
		</p>
		#{/form}
	</div>
</div>
