<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
        *{=================== BOOSTTRAP ===================}*
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap.min.css'}">
        <link rel="stylesheet" media="screen" href="@{'/public/bootstrap/css/bootstrap-theme.min.css'}">
        *{=================== ========= ===================}*
        
        #{get 'moreStyles' /}
        #{get 'editorStyles' /}
        
        *{===================  CUSTOM   ===================}*
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        *{=================== ========= ===================}*
        
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        
        *{=================== JQUERY JS ===================}*
        <script src="@{'/public/javascripts/jquery-1.11.1.min.js'}" type="text/javascript" charset="UTF-8"></script>
        *{=================== ========= ===================}*
        
        *{=================== BOOTSTRAP ===================}*
        <script src="@{'/public/bootstrap/js/bootstrap.min.js'}" type="text/javascript" charset="UTF-8"></script>
        *{=================== ========= ===================}*
    </head>
    <body>
    
    	<nav class="navbar navbar-default" role="navigation">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="@{Application.index}">Bribe</a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        #{if connected}
		        <li class="${request.action == 'Admin.index' ? 'active' : ''}">
		        	<a href="@{Admin.index()}">&{'crud.title'}</a>
		        </li>
		        #{/if}
		        #{else}
		        <li class="${request.action == 'Application.index' ? 'active' : ''}">
		        	<a href="@{Application.index}">&{'Home'}</a>
		        </li>
		        #{/else}
		        <li class="${request.action == 'Bribes.index' ? 'active' : ''}"><a href="@{Bribes.index()}">Bribes</a></li>
		        <li class="${request.action == 'Posts.index' ? 'active' : ''}"><a href="@{Posts.index()}">Blog</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
		          <i class="glyphicon glyphicon-user"></i> ${connected ? connected?.fullName() : messages.get('login') } <span class="caret"></span></a>
		          <ul class="dropdown-menu" role="menu">
		          	#{if connected}
		            <li class="${request.action == 'Users.show' ? 'active' : ''}"><a href="@{Users.show(connected?.id)}">&{'information.user'}</a></li>
		            <li class="divider"></li>
		            <li><a href="@{Secure.logout}">&{'logout'} <i class="glyphicon glyphicon-log-out"></i></a></li>
		            #{/if}
		            #{else}
		            <li><a href="@{Secure.login}"><i class="glyphicon glyphicon-log-in"></i> &{'login'}</a></li>
		            <li><a href="@{Users.signup}"><i class="glyphicon glyphicon-registration-mark"></i> &{'register'}</a></li>
		            #{/else}
		          </ul>
		        </li>
		      </ul>
		       <form action="@{Application.search()}" method="get" class="navbar-form navbar-right" enctype='multipart/form-data' role='search'>
			       <div class="form-group">
			          <input type="text" class="form-control" name="search" value="${search}" placeholder="Search">
			        </div>
			        <button type="submit" class="btn btn-default">&{'Search'}</button>
		        </form>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
    	#{doLayout /}
    	
        
        *{== Editor scripts will be setted if necessary ===}*
        #{get 'editorScripts' /}
        *{=================== ========= ===================}*
        
        *{======== Scripts set in another template ========}*
		#{get 'moreScripts' /}
		*{=================== ========= ===================}*
    </body>
    
</html>
